i.fa-heartbeat {
  color: #ff0000;
  animation: iconAnimate 1.33s ease-in-out infinite;
}
#content-inner {
	position: relative;
	width: 100%;
}

@-moz-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-o-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

[data-theme='dark'] .post-qrcode-img {
  background: #bdbdbd;
}

.badge + p {
	display: inline-block !important;
}

a[href^='https://img.shields.io'] {
	float: left !important;
    display: inline !important;
    width: auto !important;
}

a[href^='https://img.shields.io']>img {
	margin: 2px 3px !important;
}